<div class="product-section">
  <div class="tab-header">
    <span>Product List</span>
  </div>
  <div class="table-layout">
    <div class="search">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please select your location area!">
          <nz-select [(ngModel)]="searchValue" nzPlaceHolder="Select Category">
            <nz-option [nzValue]="0" nzLabel="All Category"></nz-option>
            <nz-option
              *ngFor="let residence of listOfCategoryData"
              [nzValue]="residence?.id"
              [nzLabel]="residence?.name"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <button nz-button nzType="primary" (click)="filterFunction()">
        Search
      </button>
    </div>
    <nz-spin [nzSpinning]="isLoading" nzTip="Loading...">
      <div nz-row [nzGutter]="16">
        <div
          class="gutter-row"
          nz-col
          [nzXs]="7"
          [nzLg]="6"
          [nzXl]="4"
          *ngFor="let img of listOfDisplayProduct; let no = index"
        >
          <div class="image-box">
            <img [src]="img?.urls3" width="100%" height="100%" />
          </div>
          <div class="document-action">
            <a (click)="deleteImage(img)">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </a>
          </div>
        </div>
      </div>
    </nz-spin>
    <nz-empty
      *ngIf="listOfDisplayProduct.length === 0 && !isLoading"
    ></nz-empty>
    <div class="pagination">
      <nz-pagination
        [nzTotal]="total"
        [nzPageIndex]="pageIndex"
        [nzPageSize]="pageSize"
        nzShowSizeChanger
        [nzPageSizeOptions]="pageSizeOptions"
        (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"
      ></nz-pagination>
    </div>
  </div>
</div>
