@import'../../../assets/variable/variable.scss';

.product-section {
    background: $white;
    height: 100%;

    .table-layout {
        padding: 15px;
    }

    nz-spin {
        margin-top: 25px;
    }

    .search {
        display: flex;
        justify-content: center;
        align-items: center;

        nz-form-item {
            width: 500px;
        }

        ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            border-radius: 5px !important;
            height: 35px !important;
        }

        nz-input-group {
            border-radius: 5px;

            input {
                height: 35px;
                font-size: 16px;
            }
        }

        button {
            border-radius: 5px;
            margin-left: 5px;
        }

        ::ng-deep .ant-input-prefix {
            font-size: x-large;
            margin-right: 10px;
        }

        ::ng-deep .ant-input {
            border-radius: 5px !important;
        }
    }

    .gutter-row {
        display: inline-grid;
        padding: 8px !important;
    }

    .image-box {
        position: relative;
        height: 150px;
        box-shadow: $section-shadow;

        img {
            object-fit: cover;
        }
    }

    .document-action {
        position: absolute;
        display: flex;
        justify-content: end;
        width: 100%;
        font-size: 18px;

        a {
            box-shadow: $img-shadow;
            margin: 10px;
            background: $white;
            color: $red;
            padding: 0 6px;
            border-radius: 50%;
        }
    }

    .document-action {
        a:hover {
            background: $red;
            color: $white;
        }
    }

    .pagination {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: 10px;
    }
}
