<div class="category-section">
  <div class="tab-header">
    <span>Category List</span>
  </div>
  <div class="table-layout">
    <nz-table
      id="tablerecords"
      #nzTable
      nzBordered
      nzOuterBordered
      [nzData]="listOfDisplayData"
      nzTableLayout="fixed"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading"
      (nzPageIndexChange)="pageIndexChange($event)"
    >
      <!-- [nzPageSize]="pageSize" [nzPageSizeOptions]="pageSizeOptions" nzShowSizeChanger (nzPageSizeChange)="pageSizeChange($event)"-->
      <thead>
        <tr>
          <th style="width: 60px">No</th>
          <th style="display: flex; justify-content: center">Category Logo</th>
          <th>Name</th>
          <th>No Of Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data; let no = index">
          <td>{{ no + 1 }}</td>
          <td style="display: flex; justify-content: center">
            <div class="image-box">
              <img [src]="data?.logos3" width="100%" height="100%" />
            </div>
          </td>
          <td>{{ data?.alias_name }}</td>
          <td>{{ data?.id }}</td>
          <td>
            <div class="action-button">
              <button nz-button id="edit" (click)="dataAction('edit', data)">
                <span nz-icon nzType="edit" nzTheme="fill"></span></button
              ><br />
              <button
                nz-button
                id="delete"
                (click)="dataAction('delete', data)"
              >
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-modal
      [nzStyle]="{ top: '20px' }"
      [(nzVisible)]="editCategory"
      nzTitle="Edit Category"
      (nzOnCancel)="handleCancel()"
    >
      <div *nzModalContent>
        <app-edit-category
          [editDate]="editDate"
          (closeModel)="handleCancel()"
        ></app-edit-category>
      </div>
    </nz-modal>
  </div>
</div>
